.skew
	background: #e7e7e7
	position: relative

.skew:before 
	content: ''
	position: absolute
	left: 0
	bottom: -34px
	width: 100%
	height: 65px
	background: #e7e7e7
	-webkit-transform: skewY(-2.0deg)
	-moz-transform: skewY(-2.0deg)
	-ms-transform: skewY(-2.0deg)
	-o-transform: skewY(-2.0deg)
	transform: skewY(-2.0deg)