li
	list-style-type: none

.card
	height: 400px
	position: relative
	background-color: white
	background-size: cover
	background-position: center
	margin-bottom: 30px
	border-bottom-width: 3px
	border-bottom-style: solid
	border-bottom-color: #E2E2E2
	
.card-medium
	@extend .card
	
	
.card-large
	@extend .card
	
.card-medium-img
	background-color: #4780C0