.hero
	position: fixed
	background-color: #222
	color: white
	width: 100%
	height: 100vh
	margin-top: -51px
	background-color: rgb(110,207,186)
	z-index: -1

$arrow-circle-diameter: 60px

.arrow-circle
	height: $arrow-circle-diameter
	width: $arrow-circle-diameter
	border-radius: 50%
	background-color: #FFFFFF

.arrow-down
	width: $arrow-circle-diameter
	height: $arrow-circle-diameter
	padding: $arrow-circle-diameter/5

.more
	position: relative
	left: 0
	right: 0
	bottom: ($arrow-circle-diameter/-2)-100