.navbar
	margin-bottom: 0

.navbar-inverse
	border: none
	background-color: rgba(255, 255, 255, .0)

.navbar-default
	border: none
	//background-color: rgba(255, 255, 255, .0)

.navbar-inverse .navbar-nav > li > a
	color: white

.navbar-inverse .navbar-nav > li > a:hover
	color: white
	opacity: .8

.navbar-default .navbar-nav > li > a
	color: #000000
	font-weight: 300
	font-size: 18px

.navbar-default .navbar-nav > li > a:hover
	color: #000000
	opacity: .8

.navbar-inverse .navbar-brand
	color: white

.navbar-default a.navbar-brand
	color: #000000
	font-weight: 400
	font-size: 19px

.navbar-toggle 
	border: none
	background: transparent !important
	
	&:hover
	background: transparent !important
  	
.icon-bar
	width: 22px
	transition: all 0.2s
	

.top-bar
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	transform: rotate(45deg)
	
	-webkit-transform-origin: 10% 10%
	-ms-transform-origin: 10% 10%
	transform-origin: 10% 10%
	
	-webkit-transform-style: preserve-3d
    
.middle-bar 
	opacity: 0
    
.bottom-bar
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	transform: rotate(-45deg)
	
	-webkit-transform-origin: 10% 90%
	-ms-transform-origin: 10% 90%
	transform-origin: 10% 90%
	
	-webkit-transform-style: preserve-3d
	
.navbar-toggle.collapsed
	.top-bar
		-webkit-transform: rotate(0)
		-ms-transform: rotate(0)
		transform: rotate(0)
		
		-webkit-transform-style: preserve-3d
	.middle-bar
		opacity: 1
	.bottom-bar
		-webkit-transform: rotate(0)
		-ms-transform: rotate(0)
		transform: rotate(0)
		
		-webkit-transform-style: preserve-3d
