.intro
	background-color: #F5F5F5
	position: relative
	width: 100%
	padding-top: 25px
	padding-bottom: 25px

.pge-blue
	color: #2281BA

.read_case
	position: relative
	left: 0
	right: 0
	bottom: -120px
	z-index: 3

.sky
	background: #ffffff /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d4f4fc 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d4f4fc)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d4f4fc 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d4f4fc 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d4f4fc 100%) /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d4f4fc 100%) /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4f4fc',GradientType=0 )

.grass
	background-color: #8BAD2E
	z-index: -1
	padding-top: 75px
	padding-bottom: 75px

.image-right .conclusion
	padding-top: 75px

.image-right .right-image
	margin-top: 20px

.image-right .below-image
	margin-top: 75px

.research
