.intro
	position: relative
	width: 100%
	padding-top: 25px
	padding-bottom: 35px
	margin-bottom: 25px

.pge-blue
	color: #2281BA

.read_case
	position: relative
	left: 0
	right: 0
	bottom: -120px
	z-index: 3

.read_case p
	margin-bottom: 0px

.sky
	background: #ffffff /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #d4f4fc 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d4f4fc)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d4f4fc 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#d4f4fc 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#d4f4fc 100%) /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#d4f4fc 100%) /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4f4fc',GradientType=0 )

.grass
	background-color: #8BAD2E
	z-index: -1
	padding-top: 75px
	padding-bottom: 75px

.research-icon
	@media only screen and (max-width : 992px)
		display: none


.testing-blue
	background: rgb(54,102,120)
	background: -moz-linear-gradient(top,  rgba(54,102,120,1) 1%, rgba(107,180,231,1) 99%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(54,102,120,1)), color-stop(99%,rgba(107,180,231,1)))
	background: -webkit-linear-gradient(top,  rgba(54,102,120,1) 1%,rgba(107,180,231,1) 99%)
	background: -o-linear-gradient(top,  rgba(54,102,120,1) 1%,rgba(107,180,231,1) 99%)
	background: -ms-linear-gradient(top,  rgba(54,102,120,1) 1%,rgba(107,180,231,1) 99%)
	background: linear-gradient(to bottom,  rgba(54,102,120,1) 1%,rgba(107,180,231,1) 99%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366678', endColorstr='#6bb4e7',GradientType=0 )
	padding-bottom: 50px


.image-side .conclusion
	padding-top: 75px

.image-side .side-image
	margin-top: 20px
	@media only screen and (max-width : 992px)
		margin-top: 50px


.image-side .below-image
	margin-top: 75px

.single-col
	height: 470px
	margin-bottom: 50px

.single-col-image
	height: 250px
	width: 100%

.rollover-circle
	position: absolute
	background-color: #6E6E6E
	height: 60px
	width: 60px
	border-radius: 50%
	border: 5px solid #DDDDDD
	left: -80px
	cursor: pointer

.rollover-circle h3
	text-align: center
	color: white
	margin-top: 5px

#education_button
	top: 18%

#glance_button
	top: 29%

#details_button
	top: 43%

#education_box
	position: absolute
	top: 20.9%
	width: 78.5%
	margin-right: auto
	margin-left: auto
	left: 0
	right: 0

.annotate-text
	position: absolute
	width: 78.5%
	z-index: 99
	top: 45%
	margin-right: auto
	margin-left: auto
	left: 0
	right: 0

















