$primary-font-stack: "Roboto", sans-serif
$secondary-font-stack: "Lora", serif

html, body
	font: 100% $primary-font-stack
	color: #343434

h1
	font: 100% $primary-font-stack
	font-weight: 900
	font-size: 87px
	text-transform: uppercase
	@media (max-width: 767px)
		font-size: 3.8em

h2
	font: 100% $primary-font-stack
	font-weight: 100
	font-size: 36px
	text-transform: uppercase

h3
	font: 100% $primary-font-stack
	font-weight: 100
	font-size: 36px

h4
	font: 100% $primary-font-stack
	font-weight: 500
	font-size: 24px

p
	font: 100% $primary-font-stack
	font-weight: 100
	font-size: 19px
	line-height: 27px

.uppercase
	text-transform: uppercase

.caption
	font-size: 1em
	line-height: 20px
		
.weight-medium
	font-weight: 500
	
.weight-light
	font-weight: 300

.weight-thin
	font-weight: 100
		
.text-white
	color: white