<section class="full-width-wrap {{background}}">
	<div class="container">
		<div class="row">
			{{#each item}}
			<div class="col-md-4">
				<img class="center-block margin-bottom-20" src="{{img-src}}">
				<p class="text-center text-white">{{name}}</p>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="full-width-wrap">
		<div class="gradient-top-blue"></div>
	</div>
	<img class="img-responsive" src="{{img-src}}">
</section>