<section>
	<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
	<div id="SkypeButton_Call_gleung93_1">
	  <script type="text/javascript">
	    Skype.ui({
	      "name": "call",
	      "element": "SkypeButton_Call_gleung93_1",
	      "participants": ["gleung93"],
	      "imageColor": "white",
	      "imageSize": 32
	    });
	  </script>
	</div>
</section>