<div class="full-width-wrap contact-bg" style="background-image: url('{{ img-src }}')">
	<div class="container full-height">
		<div class="vertical-align">
			<div class="row">
				<h1 class="text-center text-white chat-title">Let's Chat</h1>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="contact-item center">
						<img class="contact-image" src="{{ img-src-email }}">
					</div>
					</a>
				</div>
				<div class="col-sm-4">
					<div class="contact-item center">
						<a class="contact-link" onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:gleung93?call"><span></span></a>
						<img class="contact-image" src="{{ img-src-skype }}">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-item center">
						<img class="contact-image" src="{{ img-src-linkedin }}">
					</div>
				</div>
			</div>
		</div>
</div>