<section class="full-width-wrap dark-gray-background footer">
	<div class="container">
		<div class="row">
			{{#if prev-link}}
			<div class="col-xs-6">
				<a role="button" class="btn btn-primary" href="{{prev-link}}"><i class="fa fa-arrow-left"></i>Previous Project</a>
			</div>
			{{/if}}
			{{#if next-link}}
			<div class="col-xs-6 pull-right">
				<a role="button" class="btn btn-primary-right" href="{{next-link}}">Next Project <i class="fa fa-arrow-right"></i></a>
			</div>
			{{/if}}
		</div>
	</div>
</section>