<div class="container-fluid hero">
	<div class="container vertical-align">
		<h1 class="text-center">{{ page-title }}</h1>
		<h3 class="text-center"><span class="line-break">{{ sub-title1 }}</span><span class="line-break"> {{ sub-title2 }}</span></h3>
	</div>
	<div class="arrow-circle center">
		<img class="arrow-down center" src="assets/images/down_arrow.svg">
	</div>
</div>
