<div class="hero" data-0="transform: translate3d(0px,0px,0px);" data-550="transform: translate3d(0px,300px,0px);">
	<div class="container vertical-align">
		<div class="row">
			<h1 class="col-xs-12">{{ page-title }}</h1>
		</div>
		<div class="row">
			<h3 class="col-xs-12"><span class="line-break">{{ sub-title1 }}</span><span class="line-break"> {{ sub-title2 }}</span></h3>
		</div>
	</div>
</div>
