<div class="parallax__group">
<div class="hero parallax__layer parallax__layer--back">
	<div class="container vertical-align-absolute">
		<div class="row">
			<h1 class="col-xs-12">{{ page-title }}</h1>
		</div>
		<div class="row">
			<h3 class="col-xs-12"><span class="line-break">{{ sub-title1 }}</span><span class="line-break"> {{ sub-title2 }}</span></h3>
		</div>
	</div>
</div>
</div>
