<div class="container grid">
	<ul class="col-xs-12">
		<li class="col-xs-12">
			<div class="card-large"><h2 class="text-center vertical-align">Large Project</h2></div>
		</li>
		<li class="col-md-8 col-sm-12 col-xs-12">
			<div class="card-medium">Medium Project</div>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project</div>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project</div>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project</div>
		</li>
		<li class="col-md-4 col-sm-6 col-xs-12">
			<div class="card">Small Project</div
		></li>
	</ul>
</div>
