<section class="image-right {{background}}">
	<div class="container">
		<div class="row margin-bottom-40">
			<div class="col-xs-6 col-xs-offset-3">
				<h3 class="text-center">{{ sub-heading }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="weight-thin text-center">{{ conclusion }}</h3>
			</div>
		</div>
	</div>
</section>