<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        
    	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    	
    	<link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/leungportfolio.css">
        
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.js"></script>
        <script src="assets/js/velocity.min.js"></script>
        <script src="assets/js/portfolio.js"></script>
        <script src="assets/js/skill-spokes.js"></script>
        <script src="assets/js/animated-gradient.js"></script>
        <script src="assets/js/experience_selector.js"></script>
        <script src="assets/js/bootstrap-magnify.min.js"></script>

        
    </head>
        
    <body id="{{page-id}}" style="background-color: #FAFAFA">
        {{> nav-black }}

        {{> body }}
        
        <script src="assets/js/skrollr.min.js"></script>
    </body>
</html>